# database
DATABASE_NAME="runa"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/runa?schema=public"

# payment processing
# NB: for local development, make sure this token is generated for the Polar sandbox environment (https://docs.polar.sh/integrate/sandbox) in the Polar dashboard. If `NODE_ENV` is `development`, the sandbox will be used, otherwise Polar production will be used
POLAR_ACCESS_TOKEN=""
# a webhook secret can be generated at https://sandbox.polar.sh/dashboard/$ORGANIZATION_NAME/settings/webhooks
POLAR_WEBHOOK_SECRET=""

# GraphQL
# https://escape.tech/graphql-armor/docs/plugins/cost-limit
GRAPHQL_COMPLEXITY_MAX_COST="400"

# allowed origins for CORS (comma-separated) (https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Access-Control-Allow-Origin)
CORS_ALLOWED_ORIGINS="https://localhost:3000"

# Condition to toggle `useAuth` plugin in development (production is unchanged). `true` to protect all routes
PROTECT_ROUTES="true"

# Set to `1` to receive debug logs from `useAuth` plugin
AUTH_DEBUG=""
